---
layout: default
title: "AC Battery Project"
author: "cdeck3r"
image: mountains.jpg
---

here: NEW
<h1>
  {{ page.title }}
</h1>
{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}
<article>
  Inhalt, Inhalt
</article>

<!-- Contact -->
<h2>Contact</h2>
<article>
If you are having any problems, any questions or suggestions, feel free to [file a GitHub issue](https://github.com/cdeck3r/acbattery/issues/new)
</article>

{% if site.hide_post_date != true %}
  {% include post-date.html %}
{% endif %}
{% if site.hide_post_share != true %}
  {% include social-sharing.html %}
{% endif %}
{% if site.hide_related_posts != true %}
  {% include related-posts.html %}
{% endif %}
{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
